<div class="col-md-12">
  <div class="card card-container">
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Send Reset Password Link</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isRequestFailed">
        Your email address don't exist {{ errorMessage }}
      </div>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Reset Password Link sending on your email address !
      </div>
    </form>
  </div>
</div>
